<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Регистрация</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Остров Знаний</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Продукты</a>
            </li>   
          <li class="nav-item">
          <%if(isAuthentificated || isAuthentificatedAdmin) {%>
            <a class="nav-link" href="/order">Корзина
            </a>
          </li>
          <%if(isAuthentificatedAdmin) {%>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Администратор</a>
            </li>
            <%}%>
          <%}%>
          <%if(!isAuthentificated) {%>
          <li class="nav-item">
            <a class="nav-link" href="/login">Войти</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/signup">Регистрация</a>
          </li>
          <%}else{%>
          <li class="nav-item">
            <form action="/logout" method="post">
              <a href="" class="submit">Выйти</a>
            </form>
          </li>
          <%}%>
        </ul>
      </div>
    </div>
  </nav>
<br>
<div class="modal-dialog" role="document">
    <%if (errorSigup){%> 
      
      <div class="alert alert-danger" role="alert">
            <h5 >Такой пользователь уже существует</h5>
            <p>Ведите заново</p>
          </div>
        <br>
          <%}%>  
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
        
      </div>
      <form action="/signup" method="post">
      <div class="modal-body">
        
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Имя</label>
            <input type="text" class="form-control" name="name" id="name" >
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Электронная почта</label>
            <input type="text" class="form-control" name="email" id="email">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Пароль</label>
            <input type="text" class="form-control" name="password" id="password">
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Регистрация</button>
      </div>
     </form>
    </div>
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
